@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
main {
    margin: 50px;
}
.meat-cards {
    display: flex;
    flex-flow: row wrap;
}
h1{
    text-align: center;
}