<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<p th:text="${'Id: ' + user.getId()}">VALUE</p>
<p th:text="${'isAdmin: ' + user.getAdmin()}">VALUE</p>
<p th:text="${'Name: ' + user.getName()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<form th:method="POST" th:action="@{/users/delete/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>