<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <div th:switch="${client.getAdmin()}">
        <p th:case="true">User is an administrator</p>
        <p th:case="false">User is a client</p>
    </div>
</div>

<div th:each="m : ${meat}">
    <a th:href="@{/shop/meat/{id}(id=${m.getId()})}" th:text="${m.getTitle()}">meat</a>
</div>

<br/>
<hr/>

</body>
</html>